Repository decent-chat/decent, pull requests merged in 2018-02, with the labels that each got.

#208 Fix client
  packages/cli/bin/decent.js
  packages/client/src/app.js
  packages/client/src/components/account-settings.js
  packages/client/src/components/message-editor.js
  packages/client/src/components/messages.js
  packages/client/src/components/sidebar.js
  packages/client/src/components/srv-settings/authorized-users.js
  packages/client/src/components/srv-settings/emotes.js
  packages/client/src/util/api.js
  packages/client/src/util/modal.js
  packages/server/api.js
Labels: cli, client, semver: patch, server

#209 User list
  packages/client/src/app.js
  packages/client/src/components/sidebar.css
  packages/client/src/components/user-list.css
  packages/client/src/components/user-list.js
Labels: client, feature, semver: minor

#210 Document /api/[de]authorize-user
  docs/api.md
Labels: docs

#214 Fix broken and add missing 404s
  packages/client/src/app.js
Labels: bug, client, semver: patch

#212 Fix authorization-related errors
  docs/api.md
  packages/client/src/app.js
  packages/client/src/components/srv-settings/authorized-users.js
  packages/client/src/components/user-list.js
  packages/client/src/util/api.js
  packages/server/api.js
Labels: bug, client, docs, semver: major, semver: patch, server

#216 Only focus message input once
  packages/client/src/components/message-editor.js
Labels: client, semver: patch

#219 Add user register/leave events, and make user list respond to these
  docs/api.md
  packages/client/src/components/user-list.js
  packages/server/api.js
Labels: client, docs, semver: minor, server

#225 Use uglify-es instead of tinyify
  packages/client/package.json
Labels: client

#226 Refactor CSS
  CONTRIBUTING.md
  README.md
  packages/client/README.md
  packages/client/css/app.css
  packages/client/css/generic/button.css
  packages/client/css/generic/input.css
  packages/client/css/generic/message-editor.css
  packages/client/css/generic/message-group.css
  packages/client/css/generic/message.css
  packages/client/css/generic/page.css
  packages/client/css/generic/table.css
  packages/client/css/pages/account-settings.css
  packages/client/css/pages/authorized-users.css
  packages/client/css/pages/emote-settings.css
  packages/client/css/specific/message-list.css
  packages/client/css/specific/modal.css
  packages/client/css/specific/server-dropdown.css
  packages/client/css/specific/session-info.css
  packages/client/css/specific/sidebar.css
  packages/client/css/specific/user-list.css
  packages/client/package.json
  packages/client/postcss.config.js
  packages/client/src/app.css
  packages/client/src/app.js
  packages/client/src/components/account-settings.css
  packages/client/src/components/account-settings.js
  packages/client/src/components/message-editor.css
  packages/client/src/components/message-editor.js
  packages/client/src/components/message-group.css
  packages/client/src/components/message-group.js
  packages/client/src/components/messages.js
  packages/client/src/components/sidebar.css
  packages/client/src/components/sidebar.js
  packages/client/src/components/srv-settings/authorized-users.css
  packages/client/src/components/srv-settings/authorized-users.js
  packages/client/src/components/srv-settings/emotes.js
  packages/client/src/components/user-list.css
  packages/client/src/components/user-list.js
  packages/client/src/util/modal.css
  packages/client/src/util/modal.js
  packages/client/src/util/mrk.js
  packages/client/src/util/ws.js
Labels: client, design, webscale, wip

#228 Handle unread notifications on client-side
  packages/client/src/components/sidebar.js
Labels: client, enhancement, semver: patch

#232 Remove hacks to fix authorized users table centering
  packages/client/css/pages/authorized-users.css
Labels: client, semver: patch

#230 Fetch authorization message on client properly
  docs/api.md
  packages/client/src/app.js
  packages/server/api.js
Labels: bug, client, semver: patch, server

#236 Add bigmoji
  packages/client/css/generic/message.css
  packages/client/src/components/message-group.js
Labels: client, feature

#237 Add preferences
  packages/client/css/app.css
  packages/client/css/generic/avatar.css
  packages/client/css/generic/input.css
  packages/client/css/generic/message-group.css
  packages/client/css/pages/account-settings.css
  packages/client/css/specific/user-list.css
  packages/client/src/app.js
  packages/client/src/components/account-settings.js
  packages/client/src/components/message-group.js
  packages/client/src/components/preferences/looks.js
  packages/client/src/components/sidebar.js
  packages/client/src/components/srv-settings/authorized-users.js
  packages/client/src/components/user-list.js
Labels: client, feature

#247 Rename "Looks" tab of client preferences to "Appearance"
  packages/client/src/app.js
  packages/client/src/components/preferences/appearance.js
  packages/client/src/components/preferences/looks.js
  packages/client/src/components/sidebar.js
Labels: client

#246 Add channel/update event; set document.title based on state
  docs/api.md
  packages/client/src/components/sidebar.js
  packages/server/api.js
Labels: client, feature, semver: major, server
