Repository decent-chat/decent, pull requests merged in 2018-03, with the labels that each got.

#249 Fix mrk parsing of foreign references & allow 3 bigmoji max
  packages/client/src/components/message-group.js
  packages/client/src/util/mrk.js
Labels: bug, client

#250 Add dark theme
  packages/client/css/app.css
  packages/client/css/generic/input.css
  packages/client/css/generic/page.css
  packages/client/css/generic/table.css
  packages/client/css/pages/account-settings.css
  packages/client/css/specific/modal.css
  packages/client/css/specific/session-info.css
  packages/client/src/components/account-settings.js
  packages/client/src/components/preferences/appearance.js
  packages/client/src/components/srv-settings/emotes.js
Labels: client, design, feature

#241 Flairs
  docs/api.md
  packages/cli/bin/decent.js
  packages/client/css/app.css
  packages/client/css/generic/message-group.css
  packages/client/src/app.js
  packages/client/src/components/account-settings.js
  packages/client/src/components/message-group.js
  packages/client/src/components/messages.js
  packages/client/src/components/sidebar.js
  packages/client/src/components/srv-settings/authorized-users.js
  packages/client/src/components/user-list.js
  packages/client/src/util/api.js
  packages/client/src/util/ws.js
  packages/server/README.md
  packages/server/api.js
  packages/server/index.js
  packages/server/middleware.js
  packages/server/serialize.js
  packages/server/test/api-users.js
  packages/server/test/auth.js
  packages/server/test/serialize.js
Labels: client, docs, feature, semver: major, server, tests

#252 Improve flair styling in dark theme
  packages/client/src/components/preferences/appearance.js
Labels: client, design, semver: patch

#251 Change <br> to <br/>
  packages/client/src/components/srv-settings/emotes.js
Labels: bug, client, semver: patch

#253 Fix crash when attempting to change email
  packages/server/api.js
Labels: bug, semver: patch, server

#256 Pad messages more
  packages/client/css/generic/message.css
Labels: client, design

#260 Fix automatic pongdata so it actually does its thing
  packages/client/src/app.js
Labels: bug, client, semver: patch

#262 Bump flair maxlength to 50
  docs/api.md
  packages/client/src/components/account-settings.js
  packages/server/api.js
Labels: client, semver: patch, server

#258 Mentions
  docs/api.md
  packages/client/css/app.css
  packages/client/css/generic/message-group.css
  packages/client/css/generic/message.css
  packages/client/css/specific/sidebar.css
  packages/client/package.json
  packages/client/src/components/message-editor.js
  packages/client/src/components/message-group.js
  packages/client/src/components/messages.js
  packages/client/src/components/preferences/appearance.js
  packages/client/src/components/sidebar-left.js
  packages/client/src/components/sidebar-right.js
  packages/client/src/components/sidebar.js
  packages/client/src/util/mrk.js
  packages/server/api.js
  packages/server/common.js
  packages/server/package.json
  packages/server/serialize.js
  packages/server/test/common.js
  packages/server/test/serialize.js
Labels: client, feature, semver: minor

#267 Fix WebSockets not opening securely
  packages/client/src/util/ws.js
Labels: bug, client

#275 Redo 1.0.0 permission spec
  docs/api.md
Labels: docs, wip

#279 Very simple half-fix for unread messages
  packages/client/src/components/messages.js
Labels: bug, client, semver: patch

#284 Update mrk
  packages/client/package.json
  packages/client/src/util/mrk.js
Labels: bug, client

#294 Avoid a few miscellaneous client errors
  packages/client/src/app.js
  packages/client/src/components/sidebar-left.js
  packages/client/src/components/sidebar-right.js
Labels: bug/misfeature, client, semver: patch

#298 Implement 1.0.0-spec settings
  packages/client/src/app.js
  packages/client/src/util/api.js
  packages/server/api.js
  packages/server/settings.js
  packages/server/test/api-misc.js
Labels: client, semver: major, server

#299 1.0.0 impl: various datetime fixes
  docs/api.md
  packages/server/api.js
  packages/server/common.js
  packages/server/serialize.js
  packages/server/test/api-messages.js
  packages/server/test/common.js
  packages/server/test/serialize.js
Labels: server

#277 decent.js
  README.md
  packages/decent.js/.gitignore
  packages/decent.js/.npmignore
  packages/decent.js/README.md
  packages/decent.js/docs/README.md
  packages/decent.js/docs/array-like.md
  packages/decent.js/docs/channel.md
  packages/decent.js/docs/channels.md
  packages/decent.js/docs/client.md
  packages/decent.js/docs/emote.md
  packages/decent.js/docs/emotes.md
  packages/decent.js/docs/message.md
  packages/decent.js/docs/pinned-messages.md
  packages/decent.js/docs/user-mentions.md
  packages/decent.js/docs/user.md
  packages/decent.js/docs/users.md
  packages/decent.js/lib/channels.js
  packages/decent.js/lib/emitter.js
  packages/decent.js/lib/emotes.js
  packages/decent.js/lib/fetch.js
  packages/decent.js/lib/index.js
  packages/decent.js/lib/socket.js
  packages/decent.js/lib/things.js
  packages/decent.js/lib/users.js
  packages/decent.js/package.json
  packages/decent.js/test/example.js
Labels: decent.js
